@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	/* color:white; */
}

/* whatsapp */

#whatsappcontact {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	cursor:pointer;
	position:fixed;
	bottom:40px;
	right:40px;
	z-index: 999;
	color: black;
}
#whatsappcontact svg {
	display:inline-block;
	background-color:#25D366;
	box-shadow: 0 0 10px 0px grey;
	width:60px;
	height:60px;
	border-radius:100%;
	padding:10px;
}
#whatsappcontact svg:hover {
	box-shadow: 0 0 10px 1px grey;
}
#whatsappcontact #whtmessagetext {
	display:none;
	box-shadow: 0 0 10px 0px grey;
	font-family:"Roboto Light";
	position:relative;
	font-size:20px;
	margin-right:10px;
	padding:5px;
	background-color:#fff;
}
#whatsappcontact #ucx {
	position:absolute;
	right : 0;
	width: 0;
	height: 0;
	border-left: 10px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}


/*Hero Starts*/
.hero{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/heroc.jpg");
	height: 69vh;
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.hero-head{
	padding: 20vh 0 10vh 0;
}
.brandName{
	font-size:40px;
	line-height:30px;
	font-family: 'Playfair Display', serif;
}

.brandCaption{
	font-size:20px;
}

.bookBtn{
	margin:0 10%;
	background-color:#25D366;
	border-radius:20px;
	cursor:pointer;
}
.bookBtn a{
	text-decoration: none;
	color: white;
}
.bookBtn:hover{
	border-radius:10px;
}
.homeBtn{
	padding:0;
	margin-bottom:5px;
}
.bookBtn > .fa-whatsapp{
	padding-top:5px;
	font-size:20px;
}

/* prizing */
#section-prizing{
	background-color: #F8F8F8;
}
#section-prizing h2{
	font-family: 'Playfair Display', serif;
	color: #0E385D;
	font-size: 70px;
}
.btn-primary{
	background-color: #0E385D;
	border-color:  #0E385D;
}
.btn-primary:hover{
	background-color: #092741;
	border-color: #092741;
}
.btn-primary:focus{
	border: 0;
	box-shadow: none;
	outline: none;
	background-color: #0E385D;
	border-color: #0E385D;
 	transform: none;
}
.btn-primary:active{
	transform: none;
	border: 0;
	outline: none;
	background-color: #0E385D;
	border-color: #0E385D;
}
#cardCSS{
	transition: 1s;
}
#cardCSS:hover{
	transform: scale(1.05);
}

/* gallery */
#section-gallery{
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Playfair Display', serif;
	color: #0E385D;
}

#gallery-title h2{
	font-size: 70px;
}

#gallery-img{
	height: 350px;
	/* width: 350px; */
}

/* map */
.mapouter{
	position:relative;
	text-align:center;
	height:350px;
	width:100%;
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:350px;
	width:100%;
}


/* contact Info */
#section-contactInfo{
	font-family: 'Poppins', sans-serif;
	background-color: #F8F8F8;
}
 .contact p{
	line-height: 30px;
}
 #contact-header{
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	color: #0E385D;
}
 #contact-title{
	color: #0E385D;
}
 #contact-body{
	color: #414141;
}


/**/

@media only screen and (min-width: 1024px) {
	/* For desktop: */
	.brandName{
		font-size:80px;
		line-height:40px;
		
	}
	.bookBtn{
		margin:0 35%;
	}
	.section-title{
		font-family: 'Playfair Display', serif;
		color: #0E385D;
		font-size:70px;
		/* line-height:80px; */
	}
	#section-facilities{
		color: black;
	}
	/* map */
	.mapouter{
		position:relative;
		text-align:right;
		height:350px;
		width:600px;
	}
	.gmap_canvas{
		overflow:hidden;
		background:none!important;
		height:350px;
		width:600px;
	}
	footer{
		color:black;
	}
	
	
}
