@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

/* whatsapp */

#whatsappcontact {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	cursor:pointer;
	position:fixed;
	bottom:40px;
	right:40px;
	z-index: 999;
	color: black;
}
#whatsappcontact svg {
	display:inline-block;
	background-color:#25D366;
	box-shadow: 0 0 10px 0px grey;
	width:60px;
	height:60px;
	border-radius:100%;
	padding:10px;
}
#whatsappcontact svg:hover {
	box-shadow: 0 0 10px 1px grey;
}
#whatsappcontact #whtmessagetext {
	display:none;
	box-shadow: 0 0 10px 0px grey;
	font-family:"Roboto Light";
	position:relative;
	font-size:20px;
	margin-right:10px;
	padding:5px;
	background-color:#fff;
}
#whatsappcontact #ucx {
	position:absolute;
	right : 0;
	width: 0;
	height: 0;
	border-left: 10px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}


/*Home Starts*/

.home{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/heroc.jpg");
	height: 70vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.home-head{
	padding: 20vh 0 10vh 0;
}

.homeTitle{
	font-size:40px;
	line-height:40px;
	font-family: 'Playfair Display', serif;
}

.homeCaption{
	font-size:20px;
}

.homeSubtitle{
	font-size:15px;
	line-height:40px;
	font: weight 200;
}

.homeBtn{
	background-color:#25D366;
	box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034);
	border-radius:5px;
	padding:30px 0;
	cursor:pointer;
}
.homeBtn a{
	text-decoration: none;
	color: white;
}
.homeBtn:hover{
	border-radius:20px;
}
.homeBtn{
	padding:0;
	margin-bottom:5px;
}
.homeBtn > .fa-whatsapp{
	padding-top:5px;
	font-size:20px;
}

@media only screen and (min-width: 768px) {

	.homeTitle{
		font-size:70px;
		line-height:40px;
		font-family: 'Playfair Display', serif;
	}
	
	.homeCaption{
		font-size:30px;
	}
	
	.homeSubtitle{
		font-size:15px;
		font: weight 200;
	}

}

@media only screen and (min-width: 1024px) {

	.home{
		height: 100vh;
	}

	.homeTitle{
		font-size:110px;
		line-height:60px;
		font-family: 'Playfair Display', serif;
	}
	
	.homeCaption{
		font-size:40px;
	}
	
	.homeSubtitle{
		font-size:30px;
		font-weight: lighter;
		line-height:80px;
	}

	.homeBtn{
		padding:5px 0;
	}

}

/*Home Ends*/

/* Pricing Starts */
#section-prizing{
	background-color: #F8F8F8;
}

#section-prizing h2{
	font-family: 'Playfair Display', serif;
	color: #0E385D;
	font-size: 50px;
}
.btn-primary{
	background-color: #0E385D;
	border-color:  #0E385D;
}
.btn-primary:hover{
	background-color: #092741;
	border-color: #092741;
}
.btn-primary:focus{
	border: 0;
	box-shadow: none;
	outline: none;
	background-color: #0E385D;
	border-color: #0E385D;
 	transform: none;
}
.btn-primary:active{
	transform: none;
	border: 0;
	outline: none;
	background-color: #0E385D;
	border-color: #0E385D;
}

/* gallery */
#section-gallery{
	font-family: 'Playfair Display', serif;
	color: #0E385D;
}

#gallery-title h2{
	font-size: 50px;
}

#gallery-img{
	height: 350px;
	/* width: 350px; */
}

/* map */
.mapouter{
	position:relative;
	text-align:center;
	height:350px;
	width:100%;
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:350px;
	width:100%;
}


/* contact Info */
#section-contactInfo{
	font-family: 'Poppins', sans-serif;
	background-color: #F8F8F8;
}
#contact-body{
	font-size: 12.5px;
	color: #414141;
}
#contact-header{
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	color: #0E385D;
}
#contact-title{
	color: #0E385D;
	font-size: 20px;
}
/**/

@media only screen and (min-width: 1024px) {
	/* For desktop: */
	.brandName{
		font-size:80px;
		line-height:40px;
		
	}
	.bookBtn{
		margin:0 35%;
	}
	.section-title{
		font-family: 'Playfair Display', serif;
		color: #0E385D;
		font-size:70px;
		/* line-height:80px; */
	}
	#section-facilities{
		color: black;
	}

	/* prizing-section */
	#section-prizing h2{
		font-family: 'Playfair Display', serif;
		color: #0E385D;
		font-size: 70px;
	}

	/* gallery-section */
	#gallery-title h2{
		font-size: 70px;
	}
	/* contact Info */
	#contact-header{
		font-size: 50px;
	}
	#contact-title{
		font-size: 25px;
	}
	#contact-body{
		font-size: 16px;
	}
	footer{
		color:black;
	}
	
	
}
